* {
  box-sizing: border-box;
  font-family: 'ubunutu'
}

body {
  padding: 0;
  margin: 0;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  background: url("../colorfuldisc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.AboutMeTop {
    padding: 20px 40px 20px 40px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 250px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
}

.topicLayout {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 250px;
  width: 500px;
  margin: 0 auto;
  background: rgba(200, 200, 200, .95);
}

#catchphrase {
  font-family: 'Coiny', cursive;
  font-weight: 100;
}

.returnLink {
  text-align: center;
  align: left;
  width: 200px;
  top: 40px;
  margin: 10px auto;
  color: blue;
  font-size: 10px;
  background-color: white;
  border-radius: 85%;
}
#abouthomereturn:hover {

}
#header1 {
  margin: 20px 40px 20px 40px;
}

#turtleworld {
  margin: 20px 40px 20px 40px;

}
