* {
  box-sizing: border-box;
  font-family: 'ubunutu'
}

body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);

}
.AboutMeTop {
    padding: 20px 40px 20px 40px;
}

#abouthomereturn {
  border: solid 5px black;
  text-align: center;
  width: 800px;
  top: 40px;
  margin: 20px auto;
  color: blue;
  font-size: 40px;
  background-color: Lightblue;
  border-radius: 100%;
}

#header1 {
  margin: 20px 40px 20px 40px;
}

#turtleworld {
  margin: 20px 40px 20px 40px;

}
